@use "./base.scss";

.quran-arabic {
    font-family: "Uthmanic";
    font-size: 2rem;
    float: right;
    line-height: 3.1rem;
    text-align: right;
    direction: rtl;
}

// put your custom CSS here!
